html,body{
	height: 100%;
}
body{
	font-weight: 200;
	font-size: 1.5rem;
	color: #444;
}
.intro-left{
	background-color:antiquewhite;
	position: fixed;
	left: 0;
	width: 33.3333%;
	height: 100%;
	color: black;

}
@media(max-width: 768px){
	.intro-left{
		height: 30vh;
		position: relative;
		margin-bottom: 0;
		width: 100%;
	}
}

.avatar{
	width: 10rem;
	height: 10rem;
	margin: 1rem;
	border-radius: 50%;
}
.full-height{
	height: 100%;
}
.quote{
	float: right;
}
section{
	margin: 5rem;
	font-size: 1.2rem;
}
a{
	text-decoration: none;
	color: #444;
	margin-top: 3px;
	float: right;
}
.footer{
	background-color: white;
	font-size: 1rem;
	margin:0px ;
}

.background{
	background-color: #eee;
	width: 100%;
	height: 100%;
	z-index: -1;
	position: fixed;
	clip-path: polygon(36% 0, 60% 0, 100% 100%, 3% 100%);
}